.loginPageWrapper {
    display: flex;

    .leftSide {
        width: 50%;
        height: 100vh;
        background-color: tomato;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .headerLogin {
            font-size: 3rem;
            margin-bottom: 20px;
        }
    }

    .rightSide {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100vh;

        .header {
            font-size: 3rem;
        }
    }
}
