.formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .email,
    .password {
        margin-bottom: 20px;
    }

    .button {
        margin-bottom: 20px;
    }
}
